[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
psycopg2-binary = "*"
pytest-django = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.13"
